/node_modules
/public/hot
/public/profile
/public/uploads
/public/storage
/storage/*.key
/vendor
/development
.env.prod
docker-compose.yml
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
digifigs-NEW.pem
